<form ng-controller="SignupCtrl as ctrl" ng-submit="ctrl.signup()">
    <div class="form-group">
        <label for="signup-username">Username</label>
        <input type="text" class="form-control" id="signup-username" name="signup-username"
               ng-model="ctrl.username" placeholder="Enter username">
    </div>
    <div class="form-group">
        <label for="signup-email">Email Address</label>
        <input type="email" class="form-control" id="signup-email" name="signup-email"
               ng-model="ctrl.password" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="signup-password">Password</label>
        <input type="password" class="form-control" id="signup-password" name="signup-password"
               ng-model="ctrl.password" placeholder="Enter password">
    </div>
    <button type="signup" class="btn btn-default">Sign up</button>
</form>